.welcomebg {
    background: url('../../../images/welcome_1.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

.navbar-brand img {
	height: 4vh;
	width: auto;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}